*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Red Hat Display';
font-style: normal;
}
a{
    text-decoration: none;  
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}
.section1{
    display: flex;
    justify-content: space-between;

}
.header{
    display: flex;
    padding-top: 65px;
}
.links{
    margin-left: 100px;
    padding-top: 5px;
    display: flex;
    width: 338px;
    justify-content: space-between;
}
.links>a{
font-weight: 500;
font-size: 20px;
line-height: 26px;
color: darkgray;
}
.links .active{
    color:black;
}
.aboutus{
    margin-top: 125px;
}
.aboutus>h3{
    color: darkgray;
    font-size: 24px;
    font-weight: 200;
}
 .aboutus>h1{
     font-size: 58px; 
    }
    .aboutus>p{
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color:#25202f;    
    }
.btn{
    margin-top: 50px;
    width: 200px;
    height: 60px;
    background-color: #8643dc;
    border-radius: 100px;
    border: none;
}
.btn>a{
font-weight: 500;
font-size: 24px;
line-height: 32px;
text-align: center;
color: #FFFFFF;
}
.rightside{
    display: flex;
    margin-top: 46px;

}
.menu{
    padding-top: 35px;
}









